@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}

.scrolling-image {
  background: url("https://img.freepik.com/premium-vector/dark-green-foodie-vector-repeat-pattern-background-surface-pattern-design-great-food-packing_351884-47.jpg")
    repeat;
}

.floating-l {
  animation-name: floating-l;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.up {
  transition: all;
  transition-duration: 0.5s;
}
.up:hover {
  transform: translateY(-5%);
  scale: 1.1;
}

@keyframes floating-l {
  0% {
    transform: translate(0, 0px);
    rotate: 0deg;
  }
  50% {
    transform: translate(0, 5px);
    rotate: 2deg;
  }
  100% {
    transform: translate(0, -0px);
    rotate: -0deg;
  }
}

.floating-r {
  animation-name: floating-r;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating-r {
  0% {
    transform: translate(0, 0px);
    rotate: 0deg;
  }
  50% {
    transform: translate(0, -5px);
    rotate: -2deg;
  }
  100% {
    transform: translate(0, -0px);
    rotate: -0deg;
  }
}

.curvy {
  border-radius: 100px;
}
.loader {
  animation-name: loader;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@keyframes loader {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 100%);
  }
}

.show {
  animation: show;
  animation-duration: 0.5s;
}
@keyframes show {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.stroke-text {
  -webkit-text-stroke: 1px white;
}

.animated-background {
  background-repeat: repeat;
  
  animation: animation 20s linear infinite;
}

@keyframes animation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
